@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    max-width: 100%;
}

.navbar{
    background-color: #039E25;
    display: flex;
    height: 10vh;
    max-width: 100%;
}
.navbar a{
    text-decoration: none;
    color: #fff;
}

.logo{
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    right: 0.5rem;
    bottom: 8px;
}

.nav-list{
    list-style: none;
    display: flex;
    left: 6.3rem;
    position: relative;
    bottom: 4rem;
    gap: 1.5rem;
}

.dpdown-button{
    border: none;
    cursor: pointer;
    background: none;
    color: white;
    font-size: 1rem;
}

.dpdown-ul{
    list-style: none;
}

.dpdown-content{
    display: none;
    position: relative;
    right: 6rem;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dpdown-item a{
    color: black;
}

.dpdown:hover .dpdown-content{
    display: block;
}

/* Main */

/* Primeira Seção */
main{
    height: 80vh;
    display: flex;
}

h2{
    background-color: black;
    border-radius: 16px;
    position: relative;
    left: 3px;
}

.subt-offer{
    padding-top: 1rem;
    display: flex;    
}

.subt-o{
    color: #fff;
    width: 18rem;
}

.image-offer{
    padding-top: 1rem;
    display: flex;
    width: 220px;
    position: relative;
    left: 4px;
    border-radius: 16px;
}

.parag-offer{
    display: flex;
    text-align: justify;
    width: 9rem;
    position: relative;
    left: 15rem;
    bottom: 9rem;
}

.bu-container{
    gap: 2rem;
    display: flex;
    position: relative;
    bottom: 7rem;
}

.bu-1{
    border: solid 1px #000000;
    border-radius: 20px;
    color: #000000;
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease; 
    width: 17rem;
    position: relative;
    left: 3.5rem;
}

.bu-2{
    border: solid 1px #000000;
    border-radius: 20px;
    color: #000000;
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    width: 17rem;
    position: relative;
    top: 23px;
    right: 15.5rem;
}

.bu-1:hover{
    background-color: #000000;
    color: white;
    transform: scale(1.2)
}
/* Fim da Primeira seção */

/* Segunda Seção */

.imposto-renda{
    display: flex;
    position: relative;
    top: 20rem;
    right: 26.8rem;
}

.subt-imposto{
    position: relative;
    color: #ffff
}

.subt-escrito{
    display: flex;
    position: relative;
    left: 13rem;
    width: 12.5rem;
}

.photo-imp{
    width: 200px;
    height: 200px;
    display: flex;
    position: relative;
    top: 3rem;
}

.parag-imp{
    display: flex;
    text-align: justify;
    position: relative;
    width: 10rem;
    top: -10rem;
    right: 11rem;
}

.bu-3{
    border: solid 1px #000000;
    border-radius: 20px;
    color: #000000;
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease; 
    width: 17rem;
    position: relative;
    right: 19rem;
    top: 17rem;
}

/* Barra de baixo */
footer{
    display: flex;
}

.bar{
    background-color: #039E25;
    height: 10vh;
    width: 100%;
}

.bar-list{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.bar-link{
    text-decoration: none;
    color: #ffff;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 6rem;
    right: 10px;
}

.bar-logo{
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    bottom: 4px;
}

