@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    max-width: 100%;
}
@media screen and (max-width: 700px){
    html, body{
    overflow-x: hidden;
    }

    /* Navbar */

    nav{
        background-color: #039E25;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 6rem;
        max-width: 100%;
    }

    .nav-logo{
        width: 100px;
        height: 100px;
        position: relative;
        top: 4px;
        right: 9px;
    }

    .nav-list{
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 100%;
        gap: 1.5rem;
        position: relative;
        right: 8px;
    }

    .nav-link{
        color: #fff;
        text-decoration: none;
    }

    .nav-link:hover{
        transition: 1s ease;
        color: black;
        font-weight: 900;
    }
     
    .dpdown-button{
        border: none;
        cursor: pointer;
        background: none;
        color: white;
        font-size: 1rem;
    }

    .dpdown-ul-container{
        display: none;
        position: absolute;
        background-color: #fff;
        height: 5.5rem;
        width: 14rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 1px;
        top: 1.5rem;
    }
    
    .dpdown-ul{
        list-style: none;
        margin-left: 14px;
        margin-top: 9px;
        font-size: 20px;
    }

    .dpdown-item-container-IR{
        background-color: #D9D9D9;
        width: 12rem;
        height: 2rem;
        margin-bottom: 5px;
    }

    .dpdown-item-container-QSN{
        background-color: #D9D9D9;
        width: 12rem;
        height: 2rem;
        
    }

    .dpdown-item-container-IR:hover{
        background-color: #039E25;
    }

    .dpdown-item-container-QSN:hover{
        background-color: #039E25;
    }


    .dpdown-item-IR{
        margin-left: 15px;
    }

    .dpdown-item-QSN{
        margin-left: 15px;
    }

    .dpdown-link{
        color: black;
        text-decoration: none;
    }

    .dpdown-item-IR:hover{
        background-color: #039E25;
    }
    
    .dpdown-container:hover .dpdown-ul-container{
        display: block;
    }

    /* Main */
    /* Título */
    .title-container{
        display: flex;
        position: relative;
        justify-content: center;
    }
    .title{
        text-align: justify;
    }

    /* Texto */
    .p-quem-somos-container{
        display: flex;
        margin-bottom: 20px;
    }
    .p-quem-somos{
        text-align: center;
        width: 27rem;
    }
    
    /* Linha divisória */
    .black-line{
        margin: 15px;
        background: black;
    }
    
    /* Marigo */
    .maligno-container{
        display: grid;
        margin-left: 10px;
    }
    .subt-maligno-container{
        background-color: black;
        width: 12.5rem;
        border-radius: 11px;
    }
    .maligno{
        color: #fff;
        margin-left: 2.2px;
    }
    .img-maligno{
        width: 160px;
        height: 180px;
        border-radius: 70px;   
        margin-top: 4px;
    }
    .p-maligno{
        text-align: justify;
        width: 12.5rem;
    }

    /* João Branco */
    .joaobranco-container{
        display: grid;
        justify-content: end;
        margin-right: 9px;
    }
    
    .subt-joaobranco-container{
        background-color: black;
        width: 8rem;
        margin-left: 4rem;
        border-radius: 11px;
    }
    
    .joaobranco{
        color: #fff;
        margin-left: 8px;
        width: 7.5rem;
        
    }
    .img-joaobranco{
        width: 160px;
        height: 180px;
        border-radius: 70px;
        margin-left: 3rem;
        margin-top: 4px;
    }
    .p-joaobranco{
        width: 12.5rem;
        text-align: justify;
    }

    /* Watanabe */
    .xuxa-container{
        display: grid;
        margin-left: 10px;
    }
    .xuxa{
        background-color: black;
        color: #fff;
        border-radius: 11px;
        width: 9.5rem;
    }
    .img-xuxa{
        width: 160px;
        height: 180px;
        border-radius: 70px;
        margin-top: 4px;
    }
    .p-xuxa{
        width: 12.5rem;
        text-align: justify;
    }

    /* Theo */
    .theo-container{
        display: grid;
        justify-content: flex-end;
        margin-right: 9px;
    }
    .theo{
        background-color: black;
        color: #fff;
        border-radius: 11px;
        width: 9.8rem;
        position: relative;
        left: 2.5rem;
    }
    .img-theo{
        width: 160px;
        height: 180px;
        border-radius: 70px;
        position: relative;
        left: 2rem;
        margin-top: 4px;
    }
    .p-theo{
        width: 12.5rem;
        text-align: justify;
    }

    /* Vini */
    .vini-container{
        display: grid;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .vini{
        background-color: black;
        color: #fff;
        border-radius: 11px;
        width: 45%;
    }
    .img-vini{
        width: 160px;
        height: 180px;
        border-radius: 70px;
        margin-top: 4px;
    }
    .p-vini{
        width: 12.5rem;
        text-align: justify;
    }

    /* Footer */
    .footer{
        background-color: #039E25;
    }

    .img-footer-container{
        display: grid;
        justify-content: center;
    }

    .img-footer{
        width: 100px;
        height: 100px;
        position: relative;
        top: 3px;
    }

    .black-line-footer{
        margin-bottom: 15px;
        margin-left: 120px;
        margin-right: 120px;
    }

    .footer-list{
        display: grid;
        list-style: none;
        justify-content: center;
        text-align: center;
    }

    .footer-list-item{
        margin-bottom: 50px;
        font-size: 25px;
    }
    
    .footer-list-link{
        color: #fff;
        text-decoration: none;
    }

    .footer-list-link:hover{
        color: #000;
        transition: 0.1s ease-out;
        font-weight: 700;
    }

    .p-footer-aboutus-container{
        display: grid;
        justify-content: center;
    }
    
    .p-footer-aboutus{
        width: 23rem;
        color: #fff;
        text-align: justify;        
    }
}