@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    max-width: 100%;
}
@media screen and (max-width: 700px){
    html, body{
    overflow-x: hidden;
    }

    /* Navbar */

    .navbar{
        background-color: #039E25;
        display: flex;
        height: 10vh;
        max-width: 100%;
    }
    .navbar a{
        text-decoration: none;
        color: #fff;
    }

    .nav-logo{
        display: flex;
    }

    .logo{
        width: 100px;
        height: 100px;
        display: flex;
        position: relative;
        right: 0.5rem;
        bottom: 8px;
    }

    .nav-res{
        display: flex;
    }

    .nav-list{
        list-style: none;
        display: flex;
        left: 6.3rem;
        position: relative;
        bottom: 4rem;
        gap: 1.5rem;
    }

    .dpdown-button{
        border: none;
        cursor: pointer;
        background: none;
        color: white;
        font-size: 1rem;
    }

    .dpdown-ul{
        list-style: none;
    }

    .dpdown-content{
        display: none;
        position: relative;
        right: 6rem;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dpdown-item a{
        color: black;
    }

    .dpdown:hover .dpdown-content{
        display: block;
    }

    /* Main */
    /* Título */
    .title-container{
        display: flex;
        position: relative;
        justify-content: center;
    }
    .title{
        text-align: justify;
    }

    /* Texto */
    .p-quem-somos-container{
        display: flex;
        margin-bottom: 20px;
    }
    .p-quem-somos{
        text-align: justify;
        width: 27rem;
    }
    
    /* Linha divisória */
    .black-line{
        margin-top: 15px;
        margin-bottom: 15px;
        background: black;
    }
    
    /* Marigo */
    .maligno-container{
        display: grid;
        margin-left: 10px;
    }
    .maligno{
        background-color: black;
        color: #fff;
        border-radius: 16px;
        width: 12.5rem;
    }
    .img-maligno{
        width: 140px;
        height: 160px;
        border-radius: 70px;   
    }
    .p-maligno{
        text-align: justify;
        width: 12.5rem;
    }

    /* João Branco */
    .joaobranco-container{
        display: grid;
        justify-content: end;
        margin-right: 9px;
    }
    .joaobranco{
        background-color: black;
        color: #fff;
        border-radius: 16px;
        width: 13.5rem;
    }
    .img-joaobranco{
        width: 140px;
        height: 160px;
        border-radius: 70px;
        position: relative;
        left: 4.4rem;
        
    }
    .p-joaobranco{
        width: 12.5rem;
        text-align: justify;
    }

    /* Watanabe */
    .xuxa-container{
        display: grid;
        margin-left: 10px;
    }
    .xuxa{
        background-color: black;
        color: #fff;
        border-radius: 16px;
        width: 9.5rem;
    }
    .img-xuxa{
        width: 160px;
        height: 180px;
        border-radius: 70px;
    }
    .p-xuxa{
        width: 12.5rem;
        text-align: justify;
    }

    /* Theo */
    .theo-container{
        display: grid;
        justify-content: flex-end;
        margin-right: 9px;
    }
    .theo{
        background-color: black;
        color: #fff;
        border-radius: 16px;
        width: 9.8rem;
        position: relative;
        left: 2.5rem;
    }
    .img-theo{
        width: 160px;
        height: 160px;
        border-radius: 70px;
        position: relative;
        left: 2rem;
    }
    .p-theo{
        width: 12.5rem;
        text-align: justify;
    }

    /* Vini */
    .vini-container{
        display: grid;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .vini{
        background-color: black;
        color: #fff;
        border-radius: 16px;
        width: 46%;
    }
    .img-vini{
        width: 140px;
        height: 190px;
        border-radius: 70px;
    }
    .p-vini{
        width: 12.5rem;
        text-align: justify;
    }

    /* Footer */
    .footer{
        display: flex;
        background-color: #039E25;
        width: 100%;
        height: 30rem;
        margin-top: auto;
        bottom: 0;
    }
    
    .p-aboutus-container{
        display: flex;
    }
    
    .aboutus{
        color: #fff;
        display: flex;
        width: 25rem;
        font-size: 14px;
        text-align: justify;
        margin-top: 23rem;
        right: 12px;
        position: absolute;
    }
    
    
    .bar-items{
        display: flex;
        align-items: center;
        margin-bottom: 10rem;
    }
    
    .bar-list{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 50px;
    }
    
    
    
    .bar-link{
        text-decoration: none;
        color: #ffff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 1.4rem;
        font-size: 25px;
    }
    
    .bar-logo{
        width: 100px;
        height: 100px;
        display: flex;
        position: relative;
        top: 3px;
    }
}
