@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    max-width: 100%;
}
@media screen and (max-width: 700px){
    html, body{
    overflow-x: hidden;
    }

    /* Navbar */

    .navbar{
        background-color: #039E25;
        display: flex;
        height: 10vh;
        max-width: 100%;
    }
    .navbar a{
        text-decoration: none;
        color: #fff;
    }

    .nav-logo{
        display: flex;
    }

    .logo{
        width: 100px;
        height: 100px;
        display: flex;
        position: relative;
        right: 0.5rem;
        bottom: 8px;
    }

    .nav-list{
        list-style: none;
        display: flex;
        left: 6.3rem;
        position: relative;
        bottom: 4rem;
        gap: 1.5rem;
    }

    .dpdown-button{
        border: none;
        cursor: pointer;
        background: none;
        color: white;
        font-size: 1rem;
    }

    .dpdown-ul{
        list-style: none;
    }

    .dpdown-content{
        display: none;
        position: relative;
        right: 6rem;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dpdown-item a{
        color: black;
    }

    .dpdown:hover .dpdown-content{
        display: block;
    }

    /* Main */
    /* Seção do h1 */
    .initial-container{
        display: grid;
    }
    .title-initial{
        text-align: center;
    }
    .p-initial{
        text-align: center;
    }

    /* Linha Divisória */
    .black-line{
        background-color: black;
        margin: 15px
    }

    /* Seção de Vídeos */
    .content-container{
        display: grid;
    }
    /* Seção O Primo Rico */
    .primopobre-container{
        display: grid;
        
    }
    .subt-primopobre{
        background-color: black;
        width: 9.2rem;
        color: white;
        border-radius: 11px;
        margin-left: 3px;
    }
    .videoname-primopobre-container{
        margin-top: 10px;
    }
    .videoname-primopobre{
        text-align: center;
    }
    .video-primopobre{
        margin-left: 4px;
    }
    .p-primopobre-about-container{
        margin-top: 10px;
    }
    .p-primopobre-about{
        text-align: center;
    }

    /* Seção Nath Finanças */
    .nathfinancas-container{
        display: grid;
        margin-top: 4rem;
    }
    .subt-nathfinancas{
        background-color: black;
        width: 10rem;
        color: white;
        border-radius: 11px;
        margin-left: 3px;
        margin-top: 8px;
    }
    .videoname-nathfinancas-container{
        margin-top: 10px;
    }
    .videoname-nathfinancas{
        text-align: center;
    }
    .video-nathfinancas{
        margin-left: 4px;
    }
    .p-nathfinancas-container{
        margin-top: 10px;
    }
    .p-nathfinancas{
        text-align: center;
    }

    /* Seção Me Poupe! */
    .mepoupe-container{
        display: grid;
        margin-top: 4rem;
    }
    .subt-mepoupe{
        background-color: black;
        width: 8rem;
        color: white;
        border-radius: 11px;
        margin-left: 3px;
        margin-top: 8px;
    }
    .videoname-mepoupe-container{
        margin-top: 10px;
    }
    .videoname-mepoupe{
        text-align: center;
    }
    .video-mepoupe{
        margin-left: 4px;
    }
    .p-mepoupe-container{
        margin-top: 10px;
    }
    .p-mepoupe{
        text-align: center;
    }

    /* Seção Tesouro Direto */
    .tesourod-container{
        display: grid;
        margin-top: 4rem;
    }
    .subt-tesourod{
        background-color: black;
        width: 10rem;
        color: white;
        border-radius: 11px;
        margin-left: 3px;
        margin-top: 8px;
    }
    .videoname-tesourod-container{
        margin-top: 10px;
    }
    .videoname-tesourod{
        text-align: center;
    }
    .video-tesourod{
        margin-left: 4px;
    }
    .p-tesourod-container{
        margin-top: 10px;
    }
    .p-tesourod{
        text-align: center;
    }



    /* Botões */
    .button-channel{
        border: solid 1px #000000;
        border-radius: 20px;
        width: 20rem;
        color: #000000;
        background-color: white;
        transition: background-color 0.5s ease-in, color 0.5s ease, transform 0.5s ease;
        margin-top: 10px;
        margin-left: 3.45rem;
        height: 2rem;
        font-size: 19px;
    }
    .button-channel:hover{
        background-color: #000000;
        color: white;
        transform: scale(1.2)
    }

    /* Footer */
    .footer{
        display: flex;
        background-color: #039E25;
        width: 100%;
        height: 30rem;
        margin-top: 30px;
        bottom: 0;
    }
    
    .p-aboutus-container{
        display: flex;
    }
    
    .aboutus{
        color: #fff;
        display: flex;
        width: 25rem;
        font-size: 14px;
        text-align: justify;
        margin-top: 23rem;
        right: 12px;
        position: absolute;
    }
    
    
    .bar-items{
        display: flex;
        align-items: center;
        margin-bottom: 10rem;
    }
    
    .bar-list{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 50px;
    }
    .bar-link{
        text-decoration: none;
        color: #ffff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 1.4rem;
        font-size: 25px;
    }
    .bar-logo{
        width: 100px;
        height: 100px;
        display: flex;
        position: relative;
        top: 3px;
    }
}