@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    max-width: 100%;
}
@media screen and (max-width: 700px){
    html, body{
    overflow-x: hidden;
    }

    /* Navbar */

    nav{
        background-color: #039E25;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 6rem;
        max-width: 100%;
    }

    .nav-logo{
        width: 100px;
        height: 100px;
        position: relative;
        top: 4px;
        right: 9px;
    }

    .nav-list{
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 100%;
        gap: 1.5rem;
        position: relative;
        right: 8px;
    }

    .nav-link{
        color: #fff;
        text-decoration: none;
    }

    .nav-link:hover{
        transition: 1s ease;
        color: black;
        font-weight: 900;
    }
     
    .dpdown-button{
        border: none;
        cursor: pointer;
        background: none;
        color: white;
        font-size: 1rem;
    }

    .dpdown-ul-container{
        display: none;
        position: absolute;
        background-color: #fff;
        height: 5.5rem;
        width: 14rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 1px;
        top: 1.5rem;
    }
    
    .dpdown-ul{
        list-style: none;
        margin-left: 14px;
        margin-top: 9px;
        font-size: 20px;
    }

    .dpdown-item-container-IR{
        background-color: #D9D9D9;
        width: 12rem;
        height: 2rem;
        margin-bottom: 5px;
    }

    .dpdown-item-container-QSN{
        background-color: #D9D9D9;
        width: 12rem;
        height: 2rem;
        
    }

    .dpdown-item-container-IR:hover{
        background-color: #039E25;
    }

    .dpdown-item-container-QSN:hover{
        background-color: #039E25;
    }


    .dpdown-item-IR{
        margin-left: 15px;
    }

    .dpdown-item-QSN{
        margin-left: 15px;
    }

    .dpdown-link{
        color: black;
        text-decoration: none;
    }

    .dpdown-item-IR:hover{
        background-color: #039E25;
    }
    
    .dpdown-container:hover .dpdown-ul-container{
        display: block;
    }

    /* Main */
    /* Seção do h1 */
    .initial-container{
        display: grid;
    }
    .title-initial{
        text-align: center;
    }
    .p-initial{
        text-align: center;
    }

    /* Linha Divisória */
    .black-line{
        background-color: black;
        margin: 15px
    }

    /* Seção de Vídeos */
    .content-container{
        display: grid;
    }
    /* Seção O Primo Rico */
    .primopobre-container{
        display: grid;
    }
    .subt-primopobre-container{
        background-color: black;
        width: 9.1rem;
        border-radius: 11px;
        margin-left: 3px;
    }
    .subt-primopobre{
        color: white;
        margin-left: 6px;
    }
    .videoname-primopobre-container{
        margin-top: 10px;
    }
    .videoname-primopobre{
        text-align: center;
    }
    .video-primopobre{
        margin-left: 4px;
    }
    .p-primopobre-about-container{
        margin-top: 10px;
    }
    .p-primopobre-about{
        text-align: justify;
        width: 25.5rem;
        margin-left: 4px;
    }

    /* Seção Gustavo Cerbasi */
    .gustavocer-container{
        display: grid;
        margin-top: 4rem;
    }
    .subt-gustavocer-container{
        background-color: black;
        width: 12rem;
        border-radius: 11px;
        margin-left: 3px;
        margin-top: 8px;
    }
    .subt-gustavocer{
        color: white;
        margin-left: 6px;
    }
    .videoname-gustavocer-container{
        margin-top: 10px;
    }
    .videoname-gustavocer{
        text-align: center;
    }
    .video-gustavocer{
        margin-left: 4px;
    }
    .p-gustavocer-container{
        margin-top: 10px;
    }
    .p-gustavocer{
        text-align: justify;
        width: 25.5rem;
        margin-left: 4px;
    }

    /* Seção Me Poupe! */
    .mepoupe-container{
        display: grid;
        margin-top: 4rem;
    }
    .subt-mepoupe-container{
        background-color: black;
        width: 8rem;
        border-radius: 11px;
        margin-left: 3px;
        margin-top: 8px;
    }
    .subt-mepoupe{
        color: white;
        margin-left: 6.5px;
    }
    .videoname-mepoupe-container{
        margin-top: 10px;
    }
    .videoname-mepoupe{
        text-align: center;
    }
    .video-mepoupe{
        margin-left: 4px;
    }
    .p-mepoupe-container{
        margin-top: 10px;
    }
    .p-mepoupe{
        text-align: justify;
        width: 25.5rem;
        margin-left: 4px;
    }

    /* Seção Tesouro Direto */
    .tesourod-container{
        display: grid;
        margin-top: 4rem;
    }
    .subt-tesourod-container{
        background-color: black;
        width: 10.5rem;
        border-radius: 11px;
        margin-left: 3px;
        margin-top: 8px;
    }
    .subt-tesourod{
        color: white;
        margin-left: 4px;
    }
    .videoname-tesourod-container{
        margin-top: 10px;
    }
    .videoname-tesourod{
        text-align: center;
    }
    .video-tesourod{
        margin-left: 4px;
    }
    .p-tesourod-container{
        margin-top: 10px;
    }
    .p-tesourod{
        text-align: justify;
        width: 25.5rem;
        margin-left: 4px;
    }



    /* Botões */
    .button-channel{
        border: solid 1px #000000;
        border-radius: 20px;
        width: 20rem;
        color: #000000;
        background-color: white;
        transition: background-color 0.5s ease-in, color 0.5s ease, transform 0.5s ease;
        margin-top: 10px;
        margin-left: 3.45rem;
        height: 2rem;
        font-size: 19px;
    }
    .button-channel:hover{
        background-color: #000000;
        color: white;
        transform: scale(1.2)
    }

    /* Vídeos */
    .video{
        margin-left: 4px;
        width: 407px;
        height: 315px;
    }
    @media screen and (max-width: 410px){
        .video{
            margin-left: 4px;
            width: 400px;
            height: 315px;
        }
    }
    @media screen and (max-width: 409px){
        .video{
            margin-left: 4px;
            width: 399px;
            height: 315px;
        }
    }
    @media screen and (max-width: 408px){
        .video{
            margin-left: 4px;
            width: 398px;
            height: 315px;
        }
    }
    @media screen and (max-width: 407px){
        .video{
            margin-left: 4px;
            width: 397px;
            height: 315px;
        }
    }
    @media screen and (max-width: 406px){
        .video{
            margin-left: 4px;
            width: 396px;
            height: 315px;
        }
    }
    @media screen and (max-width: 405px){
        .video{
            margin-left: 4px;
            width: 395px;
            height: 315px;
        }
    }
    @media screen and (max-width: 404px){
        .video{
            margin-left: 4px;
            width: 394px;
            height: 315px;
        }
    }
    @media screen and (max-width: 403px){
        .video{
            margin-left: 4px;
            width: 393px;
            height: 315px;
        }
    }
    @media screen and (max-width: 402px){
        .video{
            margin-left: 4px;
            width: 392px;
            height: 315px;
        }
    }
    @media screen and (max-width: 401px){
        .video{
            margin-left: 4px;
            width: 391px;
            height: 315px;
        }
    }
    @media screen and (max-width: 400px){
        .video{
            margin-left: 4px;
            width: 390px;
            height: 315px;
        }
    }

    /* Footer */
    .footer{
        background-color: #039E25;
    }

    .img-footer-container{
        display: grid;
        justify-content: center;
    }

    .img-footer{
        width: 100px;
        height: 100px;
        position: relative;
        top: 3px;
    }

    .black-line-footer{
        margin-bottom: 15px;
        margin-left: 120px;
        margin-right: 120px;
    }

    .footer-list{
        display: grid;
        list-style: none;
        justify-content: center;
        text-align: center;
    }

    .footer-list-item{
        margin-bottom: 50px;
        font-size: 25px;
    }
    
    .footer-list-link{
        color: #fff;
        text-decoration: none;
    }

    .footer-list-link:hover{
        color: #000;
        transition: 0.1s ease-out;
        font-weight: 700;
    }

    .p-footer-aboutus-container{
        display: grid;
        justify-content: center;
    }
    
    .p-footer-aboutus{
        width: 23rem;
        color: #fff;
        text-align: justify;        
    }
}